/* Estilos generales del documento */
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F1E6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

/* Estilos del encabezado */
header {
    background-color: #1B4965;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    color: #F1F1E6;
}

/* Estilos del formulario de agregar producto */
.containerform {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.containerform form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 60px;
}

.containerform h2 {
    background-color: #1B4965;
    color: #F1F1E6;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.containerform label {
    margin-bottom: 10px;
}

.containerform input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilos del contenedor de la lista de productos */
.containerlista {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerlista h2 {
    background-color: #1B4965;
    color: #F1F1E6;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

/* Estilos adicionales */
.divs {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.css-button-sliding-to-bottom--grey {
    min-width: 400px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #495057;
    color: #495057;
}

.css-button-sliding-to-bottom--grey:hover {
    color: #FFEDCB;
}

.css-button-sliding-to-bottom--grey:hover:after {
    height: 100%;
}

.css-button-sliding-to-bottom--grey:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #1B4965;
}

/* Estilos para los labels */
#formularioAgregarProducto label {
    position: relative;
    color: #1B4965;
    padding-bottom: 10px;
}

/* Estilo para el subrayado */
#formularioAgregarProducto label::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1B4965;
    transition: all 0.3s ease;
    transform: scaleX(0);
}

/* Estilo para animar el subrayado al pasar el mouse sobre el label */
#formularioAgregarProducto label:hover::after {
    transform: scaleX(1);
}

/* Estilos para los botones de abrir y ocultar formulario */
.abrir-formulario,
.ocultar-formulario {
    min-width: 200px;
    height: 30px;
    padding: 5px 10px;
}

/* Estilos adicionales para el hover de los botones */
.abrir-formulario:hover,
.ocultar-formulario:hover {
    color: #FFEDCB;
}

.abrir-formulario:hover:after,
.ocultar-formulario:hover:after {
    height: 100%;
}

.abrir-formulario:after,
.ocultar-formulario:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #1B4965;
}

/* Estilos adicionales para los contenedores de edición y búsqueda */
.divEditarProductos {
    margin-right: 700px;
    background-color: #1B4965;
    color: #F1F1E6;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.divBuscadorProductos {
    background-color: #1B4965;
    color: #F1F1E6;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

/* Estilos para el botón de carga de productos */
#btnjsonProductos {
    font-size: 25px;
    padding: 20px 10px 40px;
    align-self: flex-end;
}

/* Estilos para el contenedor de datos */
.divdatos {
    align-self: flex-end;
    background-color: #1B4965;
    color: #F1F1E6;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 5px;
    margin-right: 50px;
}
